.game-player
  display grid
  grid-template-columns 2fr 5fr
  grid-column-gap 30px
  margin-bottom 15px

  .user-image
    img
      width 70px
      border-top-left-radius 3px
      margin-right: 5px
    .glyphicon-user
      width 70px
      height 70px
      margin-right: 5px
