.game-lounge-messages
  .game-lounge-message-container
    margin-bottom 15px
    border 1px solid silver
    border-radius 3px

    .game-lounge-message
      .header
        display grid
        grid-template-columns 1fr 6fr
        grid-column-gap 10px

        .user-image
          img
            width 70px
            border-top-left-radius 3px
        .stats
          align-self center
          text-align right
          padding-right 10px
          font-size 11px
          .date
            border-bottom 1px silver dotted

    .game-lounge-message-content
      border-top 1px solid silver
      .RichEditor-root
        border none
        padding 5px
        .RichEditor-editor
          margin-top 0




