.game-lounge-messages

  .game-lounge-message

    .row.message-header
      padding-bottom 0

    .row.slim
      padding-top 0
      padding-bottom 0

      .column
        margin-top .5rem !important
        margin-bottom .5rem  !important

    .row.header-row
      .column
        margin-bottom 0 !important

    .user-name
      font-size 24px
      font-weight bolder

    .meta
      font-style italic
      margin-left 0.5em
      font-size .875em
      color rgba(0,0,0,.4)

    .column-info
      font-size 10px
      font-style italic
      color silver - 20%

