.CreateGame

  +below($screen-sm)
    .options
      & > input, & > select
        margin-bottom 15px

  +above($screen-sm)
    .form-group
      display grid
      grid-column-gap 10px
      grid-row-gap 15px
      grid-template-columns 1fr 2fr
      grid-template-areas "label input"

      label
        justify-self end
        align-self center

  +above($screen-md)
    .options
      display grid
      grid-row-gap 5px
      grid-column-gap 5px
      grid-template-columns 1fr 1fr 1fr
      grid-template-rows auto
      grid-template-areas ". label1 label2" \
                          ". input1 input2" \
                          ". label3 label4" \
                          ". input3 input4"

      label
        justify-self center
        &:nth-of-type(1)
          grid-area label1
        &:nth-of-type(2)
          grid-area label2
        &:nth-of-type(3)
          grid-area label3
        &:nth-of-type(4)
          grid-area label4

      input
        &:nth-of-type(1)
          grid-area input1
        &:nth-of-type(2)
          grid-area input2
      select
        &:nth-of-type(1)
          grid-area input3
        &:nth-of-type(2)
          grid-area input4

  +above($screen-lg)
    .options
      display grid
      grid-column-gap 5px
      grid-template-columns 2fr 1fr 1fr 1fr 1fr
      grid-template-rows auto
      grid-template-areas ". label1 label2 label3 label4" \
                          ". input1 input2 input3 input4"
