.game-message 
  width 50%
  margin auto

  +above(1000px)
    background silver

  .editor-container 
    border 1px solid silver
    padding 5px
  

  span.shouting 
    color blue
    font-weight bold
  

  span.thinking 
    color silver
    font-style italic
  

  span.singing 
    color green
    font-style italic
    font-weight bold
  

  span.singing 
    img 
      width 12px
      height 12px
      margin-left 3px
      margin-right 3px
    
  

  button.active 
    background-color red
  

  button 
    img 
      width 16px
      height 16px
    
  


