.GameMessage

  .editor-container
    border 1px solid silver
    border-radius 2px
    padding 5px
    min-height 60px

    blockquote
      border-left 5px solid #4ca8de + 50%
      color #555
      margin 0
      padding 0 0 0 20px
      background-color #e8f3ff + 50%

  span.shouting
    color blue
    font-weight bold


  span.thinking
    color silver
    font-style italic


  span.singing
    color green
    font-style italic
    font-weight bold


  span.singing
    img
      width 12px
      height 12px
      margin-left 3px
      margin-right 3px

  button.active
    background-color red


  button
    img
      width 16px
      height 16px

