.game-card-component
  .truncated
    max-height 80px

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    -webkit-line-clamp: 4;

    & > *
      line-height 20px
