.GameSearch

  +above($screen-sm)
    .search-form
      display grid
      grid-column-gap 10px
      grid-template-columns 1fr 1fr
      grid-template-areas "left1 right1" \
                          "left2 right2" \
                          ".     right3"

      .text-search
        grid-area left1
        align-self end
      .skill-level
        grid-area right1
      .posting-frequency
        grid-area left2
      .status
        grid-area right2
      .actions
        grid-area right3

  +above($screen-lg)
    .search-form
      grid-template-columns 3fr 3fr 3fr 3fr 1fr
      grid-template-areas "col1 col2 col3 col4 col5"

      .form-group
        margin-bottom 0

      .text-search
        grid-area col1
      .skill-level
        grid-area col2
      .posting-frequency
        grid-area col3
      .status
        grid-area col4
      .actions
        grid-area col5
        align-self end

