.game-message {
    width: 50%;
    margin: auto;
}

.game-message .editor-container {
    border: 1px solid silver;
    padding: 5px
}

.game-message span.shouting {
    background-color: lightblue;
}

.game-message span.thinking {
    background-color: silver;
}

.game-message span.singing {
    background-color: lightgreen;
}

.game-message button.active {
    background-color: red
}
