.ListGames

  .game-container
    display grid
    grid-row-gap 20px
    grid-column-gap 20px
    grid-template-rows auto
    padding-top 20px

    +below($screen-sm)
      grid-template-columns 1fr

    +above($screen-sm)
      grid-template-columns 1fr 1fr

    +above($screen-lg)
      grid-template-columns 1fr 1fr 1fr

    .game-card
      min-height 400px
      border 1px solid silver + 20%
      border-radius 3px
      background-color silver + 80%

      .header, .details
        display flex
        flex-direction column

      .header
        flex 1
        justify-content center
        background-color silver - 20%

        .title
          padding 5px
          font-size 20px

          a
            color white
            text-decoration none

      .details
        flex 3
        .scenario, .overview, .settings
          flex 1


