blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5rem 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.talking:after {
    display: inline-block;
    content: "";
    margin-left: 4px;
    width: 14px;
    height: 14px;
    background: transparent url('/static-assets/editor/images/speech-bubble.svg') no-repeat;
    background-size: cover;
}

.thinking:after {
    display: inline-block;
    content: "";
    margin-left: 4px;
    width: 14px;
    height: 14px;
    background: transparent url('/static-assets/editor/images/thought-bubble.svg') no-repeat;
    background-size: cover;
}

.singing {
    margin-left: 32px;
    display: inline-block;
    position: relative;
}

.singing p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.singing:before {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: -18px;
    content: "";
    width: 14px;
    height: 14px;
    background: transparent url('/static-assets/editor/images/singing.svg') no-repeat;
    background-size: cover;
}

.singing:after {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    right: -18px;
    content: "";
    width: 14px;
    height: 14px;
    background: transparent url('/static-assets/editor/images/singing.svg') no-repeat;
    background-size: cover;
}

