.ViewGame
  margin-bottom 30px

  .overview
    padding-top 20px
    padding-bottom 20px

  .joinGame
      padding-bottom 20px

  .create-message
    padding-bottom 20px

  .rich-editor-sticky
    position sticky !important
    top 0
    z-index 100

