.RichEditor-root
  background #fff
  border 1px solid #ddd
  border-radius 2px
  font-size 14px
  padding 5px

  .editor-toolbar
    padding-bottom 5px
    border-bottom 1px solid #ddd

  .RichEditor-editor
    cursor text

  .RichEditor-hidePlaceholder
    .public-DraftEditorPlaceholder-root
      display none

  .RichEditor-blockquote
    border-left 5px solid #4ca8de + 50%
    color #555
    margin 0
    padding 0 0 0 20px
    background-color #e8f3ff + 50%
