.RichEditor-root
  background #fff
  border 1px solid #ddd
  border-radius 2px
  font-size 14px
  padding 5px

  .editor-toolbar
    padding-bottom 5px
    border-bottom 1px solid #ddd

  .RichEditor-editor
    cursor text
    
  .RichEditor-hidePlaceholder
    .public-DraftEditorPlaceholder-root
      display none
