.RichEditor-root
  background #fff
  font-size 14px
  padding 5px

  &.editing
    border 1px solid #ddd
    border-radius 2px
    min-height 150px

  .editor-toolbar
    padding-bottom 5px
    border-bottom 1px solid #ddd

  .RichEditor-editor
    cursor text

  .RichEditor-hidePlaceholder
    .public-DraftEditorPlaceholder-root
      display none
