.rich-text-display

  .mce-content-body
    min-height 150px
    padding 5px

  blockquote
    background #f9f9f9
    border-left 10px solid #ccc
    margin 1.5rem 10px
    padding 0.5em 10px
    quotes "\201C""\201D""\2018""\2019"

    &:before
      color #ccc
      content open-quote
      font-size 4em
      line-height 0.1em
      margin-right 0.25em
      vertical-align -0.4em

    p
      display block

  .talking, .thinking
    &:before, &:after
      display inline-block
      content ""
      width 14px
      height 14px
      background-repeat no-repeat
      background-size cover
      margin-right 4px
      margin-left 4px

    &:before
      transform scaleX(-1)

  .talking
    &:before, &:after
      background-image url('/static-assets/editor/images/speech-bubble.svg')

  .thinking
    &:before, &:after
      background-image url('/static-assets/editor/images/thought-bubble.svg')

  .singing
    margin-left: 32px;
    display: inline-block;
    position: relative;

    &:before, &:after
      display: inline-block;
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background: transparent url('/static-assets/editor/images/singing.svg') no-repeat;
      background-size: cover;

    &:before
      top: 7px;
      left: -18px;
    &:after
      bottom: 7px;
      right: -18px;

    p
      margin-top: 4px;
      margin-bottom: 4px;
